
.addBtn, .multipBtn,.divisionBtn, .subtractBtn{
    padding: 10px 20px;
    background-color: #e873ab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.addBtn:hover {
    background-color: #e02e87;
  }
.multipBtn:hover{
    background-color: #e02e87;
}

.subtractBtn:hover{
    background-color: #e02e87;
}
  

.divisionBtn:hover {
    background-color: #e02e87;
  }


.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px ;
    margin-left: 130px;
}

  .bottomBtns, .topBtns{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .commonClass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-left: 580px;
  }

  .input{
    padding: 8px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .result{
    font-size: 30px;
    font-weight: 600;
    margin-right: 180px ;
  }

  .label{
        font-size: 20px;
        font-weight: 600 ;
  }